*{box-sizing: border-box;}

.container_keys{
	display: grid;
	grid-template-columns:repeat(9, 100px);
	grid-template-rows: 250px;
	grid-gap:10px;
	justify-content:center;
	align-items: center;
    background-color: cyan;

}



.key{height: 80px;
	border:2px solid red;
	border-radius: 2px;
	transition: all 0.07s;
	background-color: black;
	text-shadow: 0 0 15 brown;
}

kbd{
	font-size: 20px;
	color:#fff;
	text-align: center;
	display: block;
}

.sound{
	font-size: 1.2;
	color: #ffc600;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
}

.playing{
	transform: scale(1.1);
	border-color: #ffc600;
	box-shadow: 0 0 10 #ffc600;
}






